@charset "utf-8";

* { font-family: '微软雅黑', '黑体', serif;}
body { padding-top: 70px;}

.price.INCOME { color: green;}
.price.EXPEND { color: red;}
.price.EXPEND:before { content: '-';}

.help-block-danger { color: red;}
