@charset "utf-8";

* { font-family: '微软雅黑', '黑体', serif;}
body { padding-top: 70px;}

.price.INCOME { color: green;}
.price.EXPEND { color: red;}
.price.EXPEND:before { content: '-';}

.help-block-danger { color: red;}

.search-form-wrapper .form-group { margin-bottom: 5px;}
.label-wrapper .label { display: inline-block; margin-bottom: 5px; margin-right: 5px;}
.label-wrapper .label.label-lg { padding: 8px 15px;}
