<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">


    <!--console-->
    <appender name="Console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%c] - %m%n"/>
        </layout>
    </appender>

    <!--file-->
    <appender name="File" class="org.apache.log4j.FileAppender">
        <param name="Append" value="true"/>
        <param name="File" value="./logs/basic.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%c] - %m%n"/>
        </layout>
    </appender>

    <!--daily-->
    <appender name="Daily" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="../logs/daily.log"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%c] - %m%n"/>
        </layout>
    </appender>

    <logger name="org.hibernate.cache" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="Console"/>
    </logger>

    <logger name="org.springframework.test.context.support.DelegatingSmartContextLoader" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="Console"/>
    </logger>

    <root>
        <level value="INFO"/>
        <appender-ref ref="Console"/>
        <appender-ref ref="Daily"/>
    </root>

</log4j:configuration>